@use 'src/sass/abstracts/colors';

.theme-dark {
  background-color: colors.$light-theme-very-light-gray;
  color: colors.$light-theme-dark-grayish-blue;

  .display {
    color: hsl(0, 0%, 100%);
  }

  .body-1 {
    background-color: colors.$dark-theme-very-dark-desaturated-blue;
    color: colors.$dark-theme-light-grayish-blue;
  }

  .caption {
    color: colors.$dark-theme-dark-grayish-blue;
  }

  .input {
    caret-color: colors.$primary-bright-blue;
  }
}
