@use 'src/sass/abstracts/colors';

$fw-400: 400;
$fw-700: 700;
$ls-body: -0.25px;
$ls-caption: -0.19px;

:root {
  font-size: 62.5%;
}

body {
  font-size: 1.25rem;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: $fw-400;
}

.display {
  font-size: 4rem;
  font-weight: $fw-700;
  letter-spacing: 1.5rem;
}

.body-1 {
  font-size: 1.8rem;
  font-weight: $fw-400;
  letter-spacing: $ls-body;
  line-height: normal;
}

.body-2 {
  @extend .body-1;
  font-weight: $fw-700;
}

.caption {
  font-size: 1.4rem;
  font-weight: $fw-400;
  letter-spacing: $ls-caption;
}

.input {
  @extend .body-1;
}
